In [4]:
import pandas as pd

data = {
    'student_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'first_name': ['John', 'Jane', 'Mike', 'Emily', 'Chris', 'Sarah', 'David', 'Laura', 'James', 'Olivia'],
    'last_name': ['Doe', 'Smith', 'Johnson', 'Williams', 'Brown', 'Jones', 'Lee', 'Miller', 'Anderson', 'Brown'],
    'age': [18, 17, 18, 16, 17, 18, 16, 17, 16, 18],
    'gender': ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F'],
    'math_score': [85, 72, 65, 90, 78, 92, 70, 88, 75, 95],
    'science_score': [78, 88, 92, 68, 75, 82, 84, 70, 90, 96],
    'english_score': [92, 95, 78, 82, 88, 96, 77, 90, 85, 92]
}


# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('student_scores.csv', index=False)

In [5]:
# Load the dataset
data = pd.read_csv("student_scores.csv")

In [6]:
# Display the first few rows of the dataset
print(data.head())

   student_id first_name last_name  age gender  math_score  science_score  \
0           1       John       Doe   18      M          85             78
1           2       Jane     Smith   17      F          72             88
2           3       Mike   Johnson   18      M          65             92
3           4      Emily  Williams   16      F          90             68
4           5      Chris     Brown   17      M          78             75

   english_score
0             92
1             95
2             78
3             82
4             88

In [7]:
# Get basic information about the dataset
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     10 non-null     int64
 1   first_name     10 non-null     object
 2   last_name      10 non-null     object
 3   age            10 non-null     int64
 4   gender         10 non-null     object
 5   math_score     10 non-null     int64
 6   science_score  10 non-null     int64
 7   english_score  10 non-null     int64
dtypes: int64(5), object(3)
memory usage: 768.0+ bytes
None

In [8]:
# Calculate summary statistics
print(data.describe())

       student_id        age  math_score  science_score  english_score
count    10.00000  10.000000    10.00000      10.000000      10.000000
mean      5.50000  17.100000    81.00000      82.300000      87.500000
std       3.02765   0.875595    10.36018       9.452219       6.770032
min       1.00000  16.000000    65.00000      68.000000      77.000000
25%       3.25000  16.250000    72.75000      75.750000      82.750000
50%       5.50000  17.000000    81.50000      83.000000      89.000000
75%       7.75000  18.000000    89.50000      89.500000      92.000000
max      10.00000  18.000000    95.00000      96.000000      96.000000

In [9]:
# Select specific columns
scores = data[['math_score', 'science_score', 'english_score']]
print(scores.head())

   math_score  science_score  english_score
0          85             78             92
1          72             88             95
2          65             92             78
3          90             68             82
4          78             75             88

In [ ]:
# Calculate average scores
average_scores = scores.mean()
print(average_scores)

In [ ]:
# Find the student with the highest total score
data['total_score'] = data['math_score'] + data['science_score'] + data['english_score']
highest_scoring_student = data.loc[data['total_score'].idxmax()]
print(highest_scoring_student)

In [ ]:
# Filter data based on conditions
female_students = data[data['gender'] == 'F']
print(female_students)

In [ ]:
# Group data by gender and calculate average scores
gender_grouped = data.groupby('gender').mean()
print(gender_grouped)

In [ ]:
# Sort data by a specific column
sorted_data = data.sort_values(by='total_score', ascending=False)
print(sorted_data)

In [ ]:
# Save the modified data to a new CSV file
data.to_csv("modified_student_scores.csv", index=False)